body {
    background-color: lightslategray;
}

#start-button {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

#quiz-title {
    color: lightseagreen;
}

.question {
    color: coral;
    font-weight: bold;
}

#initials-button {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

#go-back {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

#clear-storage {
    background-color: lightseagreen;
    border-color: lightseagreen;
}